@import 'variables.scss';
@import 'functions.scss';
@import 'colours.scss';
html {
    box-sizing: border-box;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// html,
// body {
// height: 99%;
// }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid red;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 4rem;
    border-radius: 1rem;
}

.card {
    width: 16rem;
    height: 25rem;
    // flex-basis: 33%;
    &:nth-child(1) {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    &:nth-child(3) {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
}

@each $clave,
$colour in $primary_colours {
    .#{$clave} {
        background-color: $colour;
    }
}