@use 'sass:map';
@use 'sass:list';
@import 'variables.scss';
@import 'functions.scss';
@import 'colours.scss';
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* box sizing */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: map.get($neutral-colours, "paragraphs");
    font-size: $general-font-size;
    width: 97vw;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
    overflow-x: auto;
    align-items: center;
    height: 99vh;
    flex-wrap: wrap;
}


/* style cards */

// main {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     flex-wrap: wrap;
// }
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    border-radius: pixelsToRems(7px);
    position: relative;
    right: 0.2rem
}

.card {
    width: pixelsToRems(300px);
    height: pixelsToRems(480px);
    padding: pixelsToRems(42px);
    position: relative;
    h1 {
        margin: 2rem auto 2rem;
        font-family: 'Big Shoulders Display', cursive;
        font-weight: 700;
        font-size: pixelsToRems(36px);
        color: map.get($neutral-colours, "background-headings-buttons")
    }
}

@each $clave,
$colour in $primary_colours {
    .#{$clave} {
        background-color: $colour;
        @if($clave=="primary") {
            border-top-right-radius: pixelsToRems(7px);
            border-top-left-radius: pixelsToRems(7px);
        }
        @else {
            @if($clave=="tertiary") {
                border-bottom-right-radius: pixelsToRems(7px);
                border-bottom-left-radius: pixelsToRems(7px);
            }
        }
    }
}

/// Icon 
.sedan-icon,
.suvs-icon,
.lux-icon {
    margin-bottom: pixelsToRems(36px);
}

///Buttons style
.btn {
    background-color: map.get($neutral-colours, "background-headings-buttons");
    margin: thin solid map.get($neutral_colours, "background-headings-buttons");
    text-align: center;
    padding: 1rem 0.1rem;
    border-radius: 2rem;
    width: pixelsToRems(140px);
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: transparent;
        border: thin solid map.get($neutral-colours, "background-headings-buttons")
    }
    //! Revisar nth:child
    // @for $i from 1 to 4 {
    //     &:nth-child(#{$i}) {
    //         @if($i==1) {
    //             background-color: list.nth($colour_list, 1);
    //         }
    //         @else {
    //             @if($i==2) {
    //                 color: list.nth($colour_list, 2);
    //             }
    //             @else {
    //                 color: list.nth($colour_list, 3);
    //             }
    //         }
    //     }
    // }
}

.sedan-btn {
    color: map.get($primary_colours, "primary");
    &:hover {
        color: map.get($neutral-colours, "background-headings-buttons");
    }
}

.suvs-btn {
    color: map.get($primary_colours, "secondary");
    &:hover {
        color: map.get($neutral-colours, "background-headings-buttons");
    }
}

.luxury-btn {
    color: map.get($primary_colours, "tertiary");
    &:hover {
        color: map.get($neutral-colours, "background-headings-buttons");
    }
}


/* Style Paragraph */

.paragraph {
    font-family: "Lexend Deca", sans-serif;
    font-size: pixelsToRems(14px);
    line-height: 1.5rem;
    color: map.get($neutral-colours, "paragraphs");
    margin-bottom: 1.5rem;
}


/* Style footer */

.attribution {
    width: 99%;
    margin: 0 auto;
    position: relative;
    color: #999;
    padding-bottom: 10px;
    bottom: 10px;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
    & a {
        text-decoration: none;
        color: rgb(75, 75, 75);
    }
    & a:hover {
        color: #000;
    }
}


/* style tablet and mobile */

@media only screen and ( min-width:pixelsToEms(980px)) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 99vw;
        justify-content: center;
        overflow: hidden;
        overflow-x: auto;
        align-items: center;
    }
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 4rem 4rem;
    }
    .cards {
        .card {
            border-radius: 0rem;
        }
        .sedand-card {
            border-top-left-radius: pixelsToRems(7px);
            ;
            border-bottom-left-radius: pixelsToRems(7px);
            ;
            // min-width: pixelsToRems(256px);
        }
        .lux-card {
            border-top-right-radius: pixelsToRems(7px);
            border-bottom-right-radius: pixelsToRems(7px);
        }
    }
    .attribution {
        position: absolute;
        width: 99%;
        bottom: 10px;
        line-height: 10px;
    }
}